version: "3.8"

services:
  nginx:
    build:
      context: ./nginx
      dockerfile: Dockerfile
    container_name: bg_nginx
    ports:
      - "${NGINX_PORT}:8080"
    environment:
      - ACTIVE_POOL=${ACTIVE_POOL}
    volumes:
      # Template and live config
      - ./nginx/nginx.conf.template:/etc/nginx/nginx.conf.template:ro
      - ./nginx/generated-nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app_blue
      - app_green

  app_blue:
    image: ${NODE_IMAGE}
    container_name: app_blue
    environment:
      - APP_POOL=blue
      - RELEASE_ID=${BLUE_RELEASE_ID}
      - PORT=8081
    ports:
      - "${BLUE_PORT}:8081"

  app_green:
    image: ${NODE_IMAGE}
    container_name: app_green
    environment:
      - APP_POOL=green
      - RELEASE_ID=${GREEN_RELEASE_ID}
      - PORT=8082
    ports:
      - "${GREEN_PORT}:8082"