services:
  app_blue:
    image: yimikaade/wonderful:devops-stage-two
    environment:
      - APP_POOL=blue
      - RELEASE_ID=blue-001
      - PORT=8081
    expose:
      - "8081"

  app_green:
    image: yimikaade/wonderful:devops-stage-two
    environment:
      - APP_POOL=green
      - RELEASE_ID=green-001
      - PORT=8082
    expose:
      - "8082"

  nginx:
    build: ./nginx
    container_name: bg_nginx
    ports:
      - "8080:8080"
    environment:
      - ACTIVE_POOL=blue
      - BLUE_PORT=8081
      - GREEN_PORT=8082
      - BLUE_RELEASE_ID=blue-001
      - GREEN_RELEASE_ID=green-001
    depends_on:
      - app_blue
      - app_green
    volumes:
      - ./nginx/generated-nginx.conf:/etc/nginx/conf.d/default.conf